{% extends "base.html" %}

{% block title %}Ver Producto{% endblock %}

{% block content %}

<h1 class="h3 my-4">Ver Producto</h1>

<div class="card shadow-sm">
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="product-images">
              {% if producto.producto_detalles %}
                <img id="mainImage" src="{{ url_for('static', filename='uploads/' + producto.producto_detalles[0].imagen) }}" class="img-fluid mb-4" alt="Imagen del producto" style="width: 100%; max-width: 300px; height: auto;">
              {% else %}
                <p>No hay imágenes disponibles.</p>
              {% endif %}
              
              <div class="product-thumbnails">
                {% for detalle in producto.producto_detalles %}
                  {% if detalle.imagen %}
                    <img src="{{ url_for('static', filename='uploads/' + detalle.imagen) }}" class="img-thumbnail" alt="Detalle del producto" style="width: 100px; margin-right: 10px; cursor: pointer;" onclick="changeMainImage(this)">
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <h2>{{ producto.nombre }}</h2>
            <p><strong>Descripción:</strong> {{ producto.descripcion if producto.descripcion else "No disponible." }}</p>
            <p><strong>Precio:</strong> S/. {{ producto.precio }}</p>
            
            <div class="mt-4">
              <h5>Colores disponibles:</h5>
              <div class="d-flex flex-wrap justify-content-start">
                {% for detalle in producto.producto_detalles %}
                  <div class="mr-2 mb-2">
                    <div class="color-box" style="background-color: {{ detalle.color.hexadecimal }}; width: 50px; height: 50px; border-radius: 50%;"></div>
                  </div>
                {% endfor %}
              </div>
            </div>
            
            <div class="mt-4">
              <h5>Tamaños disponibles:</h5>
              <ul>
                {% for detalle in producto.producto_detalles %}
                  <li>{{ detalle.tamanio.nombre }} - Stock: {{ detalle.stock }} unidades</li>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>
      </div>
</div>
<script>
    function changeMainImage(thumbnail) {
      const mainImage = document.getElementById("mainImage");
      mainImage.src = thumbnail.src;
    }
  </script>
  
{% endblock %}

